<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MIS220GroupProject.Properties.Settings.MovieRentalConnectionString"
            connectionString="Data Source=mis220.eil-server.cba.ua.edu;Initial Catalog=MovieRental;Persist Security Info=True;User ID=uamis;Password=RollTide"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>